{% extends "homebase.html"%}

{% block title %} Hakkımızda -- {{setting.company}} {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block head %}
    <link rel="icon" href='{{setting.icon.url}}' type="image/x-icon">
{% endblock %}

{% block content %}
{% load static %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-area set-bg" data-setbg="{% static 'img/breadcrumb/breadcrumb-normal.jpg'%}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Hakkımızda</h2>
                        <div class="breadcrumb__option">
                            <a href="/"><i class="fa fa-home"></i> Ana Sayfa</a>
                            <span>Hakkımızda</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- About Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <div class="about__title">
                        <h2>Turistik Yerler Sitesine<br /> Hoş Geldiniz</h2>
                        <a href="/iletisim" class="primary-btn">İletişim</a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="about__text">
                        {{setting.aboutus | safe}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- About Video Begin -->
    <div class="about-video">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about__video set-bg" data-setbg="{% static 'img/about-video.jpg'%}">
                        <a href="https://www.youtube.com/watch?v=8EJ3zbKTWQ8" class="play-btn video-popup"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Video End -->
{% endblock %}