{% extends "homebase.html"%}

{% block title %} Detay Sayfası -- {{setting.company}} {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block head %}
    <link rel="icon" href='{{setting.icon.url}}' type="image/x-icon">
{% endblock %}

{% block content %}
{% load static %}
    <!-- Listing Section Begin -->
    <section class="listing-hero set-bg" data-setbg="{% static 'img/listing/details/listing-hero.jpg'%}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="listing__hero__option">
                        <div class="listing__hero__icon">
                            <img src="{% static 'img/listing/details/ld-icon.png'%}" alt="">
                        </div>
                        <div class="listing__hero__text">
                            <h2>{{place.title}}</h2>

                            <p><span class="icon_pin_alt"></span> {{place.adres}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="listing__hero__btns">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Listing Section End -->

    <!-- Listing Details Section Begin -->
    <section class="listing-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="listing__details__text">
                        <div class="listing__details__about">
                            <h4>Kısa Detay</h4>
                            {{place.detail | safe }}
                        </div>
                        <div class="listing__details__gallery">
                            <h4>Galeri</h4>
                            <div class="listing__details__gallery__pic">
                                <div class="listing__details__gallery__item">
                                    <img class="listing__details__gallery__item__large"
                                        src="{{ place.image.url }}" alt="">
                                    <span><i class="fa fa-camera"></i> 170 Image</span>
                                </div>
                                <div class="listing__details__gallery__slider owl-carousel">
                                    {% for rs in images %}
                                    <img data-imgbigurl="{{ rs.image.url }}"
                                        src="{{ rs.image.url }}" alt="">
                                    {% endfor %}

                                </div>
                            </div>
                        </div>


                        <div class="listing__details__comment">
                            <h4>Yorumlar</h4>
                            {% for rs in comments %}
                            <div class="listing__details__comment__item">
                                <div class="listing__details__comment__item__pic">
                                    <img src="{% static 'img/listing/details/comment.png '%}" alt="">
                                </div>
                                <div class="listing__details__comment__item__text">
                                    <div class="listing__details__comment__item__rating">
                                        <i class="fa fa-star{% if rs.rate < 1 %}-o empty{% endif %}"></i>
                                        <i class="fa fa-star{% if rs.rate < 2 %}-o empty{% endif %}"></i>
                                        <i class="fa fa-star{% if rs.rate < 3 %}-o empty{% endif %}"></i>
                                        <i class="fa fa-star{% if rs.rate < 4 %}-o empty{% endif %}"></i>
                                        <i class="fa fa-star{% if rs.rate < 5 %}-o empty{% endif %}"></i>
                                    </div>
                                    <span>{{ rs.create_at}}</span>
                                    <h5>{{ rs.user.first_name}} {{ rs.user.last_name}}</h5>
                                    <p><b>{{ rs.subject}}</b><br>
                                        {{ rs.comment}}</p>
                                    <ul>

                                    </ul>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        <div class="listing__details__review">
                            <h5>
                            {% if messages %}
                                {% for message in messages %}
                                    {{message}}
                                {% endfor %}
                            {% endif %}
                            </h5>
                            <h4>Yorum Ekle</h4>
                            <form action="/place/addcomment/{{ place.id }}" method="post">
                                {% csrf_token %}
                                <input type="text" placeholder="Başlık" name="subject" id="id_subject" required>
                                <textarea placeholder="Yorum" name="comment" id="id_comment" required></textarea>
                                <div class="filter__tags">
                                    <h6>Puan Veriniz</h6>
                                    <label for="star5">
                                        5 Yıldız
                                        <input type="radio" id="star5" name="rate" value="5"/>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label for="star4">
                                        4 Yıldız
                                        <input type="radio" id="star4" name="rate" value="4"/>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label for="star3">
                                        3 Yıldız
                                        <input type="radio" id="star3" name="rate" value="3"/>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label for="star2">
                                        2 Yıldız
                                        <input type="radio" id="star2" name="rate" value="2"/>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label for="star1">
                                        1 Yıldız
                                        <input type="radio" id="star1" name="rate" value="1"/>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                                {% if user.id is not None %}
                                <button type="submit" class="site-btn">Gönder</button>
                                {% else %}
                                Yorum eklemek için <a href="/login">giriş</a> yapınız.
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="listing__sidebar">
                        <div class="listing__sidebar__contact">

                            <div class="listing__sidebar__contact__text">
                                <h4>İletişim</h4>
                                <ul>
                                    <li><span class="icon_pin_alt"></span> {{place.adres}}</li>
                                    <li><span class="icon_phone"></span> {{place.telefon}}</li>
                                    <li><span class="icon_mail_alt"></span> {{place.email}}</li>
                                    <li><span class="icon_globe-2"></span> web adresi</li>
                                </ul>
                                <div class="listing__sidebar__contact__social">
                                    <a href="{{place.facebook}}"><i class="fa fa-facebook"></i></a>

                                    <a href="{{place.twitter}}" class="twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="{{place.instagram}}" class="google"><i class="fa fa-google"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--<div class="listing__sidebar__working__hours">
                            <h4>Working Hours</h4>
                            <ul>
                                <li>Monday <span>09:00 AM - 20:00 PM</span></li>
                                <li>Tuesday <span>09:00 AM - 20:00 PM</span></li>
                                <li>Wednesday <span>09:00 AM - 20:00 PM</span></li>
                                <li>Thursday <span>09:00 AM - 20:00 PM</span></li>
                                <li>Friday <span class="opening">Opening</span></li>
                                <li>Saturday <span>09:00 AM - 20:00 PM</span></li>
                                <li>Saturday <span class="closed">Closed</span></li>
                            </ul>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Listing Details Section End -->
{% endblock %}